body{
    max-width: 1400px;
    font-family: 'Raleway', sans-serif;
    background-color: white;

}
/*Logo*/
#Booki{
    position: relative;
    width: 61.09px;
    height: 19px;
    left: 55px;
    top: 44px;


}

a {
    text-decoration: none;
    color: black;
}
/*Navigation*/
nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav  li
{
    margin-right: 35px;
    margin-left: 20px;
}

nav  a 
{
    text-decoration: none;
    color: black;
    padding-top: 45px;
    padding-right:20px;
    padding-left:20px;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}


/*Contenu Header*/
.contenu_header{
    position: relative;
   left: 55px;
   top:67px;
}

.contenu_header h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.l1 
{
    position : relative;
    top: -10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.box {
    position: relative;
    top: 25px;
    height:30px;
    right:150px;
    font-weight:700;
    font-size:17px;
    border : 2px solid #D9D9D9;
    text-align: justify;
    border-radius: 20px 20px 20px 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    list-style-type: none;
    cursor: pointer;
    transition:background-color 0.4s;
}
.box i{
    color:#0065FC;
}
.box a{
     text-decoration: none;
     color:black;
}
.box :hover{
    background-color: #DEEBFF;
}
.conteneur{
    width: 914px;
    height: 50px;
}
.conteneur ul{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: -72px;
}
.conteneur h4{
    position: relative;
    width: 54px;
    height: 30px;
    left: 0px;
    top: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;   
}

.conteneur li:hover{
    background-color: #DEEBFF;
}
.l2 i {
    position : relative;
    border : 2px solid #D9D9D9;
    text-align: center;
    border-radius: 60000px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color:#0065FC;
}
/*Formulaire Recherche*/
label i{
    position: relative;
    top: -1px;
    background-color: #F2F2F2;
    padding-right: 15px;
    padding-left: 16px;
    padding-top: 17px;
    padding-bottom: 16.5px;
    margin-right: -5px;
    border-radius: 15px 0px 0px 15px;
}

form input {
    color: black;
    font-size: 18px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid #F2F2F2;
}

form button {
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-style: none;
    border-radius: 0px 15px 15px 0px;
    margin-left: -5px;
    text-align:justify;
    cursor: pointer;
}
#loupe{
    display: none;
}

/* Hébergement à Marseille*/
.heb_pop {
    display: flex;
    justify-content: space-between;
}
#hebergement {
    width: 60%;
    height: 626px;
    background-color:#F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
    position:relative;
    top: 100px;
    left: 55px;
}
#hebergement h3 {
    position: relative;
    top: 41px;
    left: 40px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
#hebergement h4 {
    position: relative;
    left: 40px;
    bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
.cards {
        margin-top: 63px;
        margin-left: 30px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 40px;
    }

.card {
    width: 246px;
    height:199px;
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2);
    border-radius: 20px;
    transition: 0.3s;
    background-color: #FFFF;
    margin-bottom: 30px;
  }
  .card img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 55%;
    box-sizing: border-box;
    border: 5px solid #FFFF;
  }

  .contenu h5 {
    padding-left: 16px;
    margin-top: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .contenu p {
    padding-left: 16px;
    margin-top: -20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  .contenu i{
    height: 12px;
    width: 12px;
    margin-right:7px;
    margin-top: -10px;
    color: #0065FC;
  }

  .stars {
    position: relative;
    left: 16px;
    top: -5px;
  }
  
  .card:hover {
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    cursor :pointer;
  }
  
/*Les plus populaires*/

.pop {
    width: 30%;
    max-height: 626px;
    background-color:#F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
    position:relative;
    top: 100px;
    right:50px;
}

.pop h3 {
    position: relative;
    top: 41px;
    left: 40px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

}

.pop h3 i {
    margin-left: 118px ;
    color :#0065FC;
}

.cards2 {
    padding-top: 40px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 33px;
    overflow: hidden;
    margin-right: 40px;
}

.card2 {
width: 343px;
height:144px;
box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2);
border-radius: 20px;
transition: 0.3s;
background-color: #FFFF;

}
.card2 img {
object-fit: cover;
border-radius: 20px 0px 0px 20px;
width: 40%;
height: 100%;
box-sizing: border-box;
border: 5px solid #FFFF;
}

.contenupop h5 {
    padding-left: 150px;
    margin-top: -134px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .contenupop p {
    padding-left: 150px;
    margin-top: -20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  .contenupop i{
    height: 12px;
    width: 12px;
    margin-left:7px;
    margin-top: -10px;
    color: #0065FC;
  }

  .stars2 {
    position: relative;
    top : 40px;
    left: 150px;
  }

  .stars3 {
    position: relative;
    top:20px;
    left: 150px;
  }

  .stars4 {
    position: relative;
    top : 40px;
    left: 150px;
  }

  .card2:hover {
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    cursor :pointer;
  }

  /* Activités à Marseille*/
  #activites {
    position: relative;
    width: 100%;
    height: 493px;
    left: 50px;
    top: 60px;


  }

  #activites h3{
    position: relative;
    top:80px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;


  }
  .cards3 {
    margin-top: 108px;
    display: flex;
    flex-direction: row;
    gap: 43px;
    overflow: hidden;

}

.card3 {
    width: 302px;
    height:444px;
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2);
    border-radius: 20px;
    transition: 0.3s;
    background-color: #FFFF;

}
.card3 img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    box-sizing: border-box;

}
  
.card3 h5{
    position: relative;
    width: 247px;
    height: 15px;
    left: 19px;
    bottom: 20.51px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
  
  .card3:hover {
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    cursor :pointer;
  }


  /*Footer*/

  footer {
    width:90%;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    gap:230px;
    background-color: #F2F2F2;
    margin-left: 48px;
  }

  footer ul {
    padding-left: 70px;
    list-style-type: none;
  }

  footer h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  footer li {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  footer a {
    text-decoration: none;
    color: black;
  }
  @media screen and (max-width: 992px) {
  

  /*herbergement et populaire*/
  .heb_pop {
  flex-direction:column ;
  }

  #hebergement {
    width: 90%;
  }

  .pop{
    width: 90%;
    left: 55px;
    top:153px;
  }
    .pop h3{
        top : 5px;
    }

    .pop h3 i {
        margin-left: 590px ;
    }
  .cards2{
    padding-top: 10px;
    padding-bottom: 53px;
    gap:23px;
    flex-direction: row;
    align-items: center;

  }

  .card2{
    width: 252px;
  } 

  .card2 img{
    width:40%;
  }
  .contenupop h5 {
    padding-left: 100px;
    white-space: pre-line;
  }

  .contenupop p {
    padding-left: 100px;
}


  .stars2 {
    top:35px;
    left: 100px;
  }

  .stars3 {
    position: relative;
    top:20px;
    left: 100px;
  }


  .stars4 {
    top : 20px;
    left: 100px;
  }

  /*Activités à Marseille*/

   #activites {
    position: relative;
    width: 100%;
    height: 493px;
    left: 50px;
    top: 120px;


  }

  #activites h3{
    position: relative;
    top:80px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;


  }
  .card3 img{
    height:80%;
  }
.card3 {
    width: 182px;
    height:267px; 
    
}
  
.card3 h5{
    max-width:136px;
}
  
  .card3:hover {
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    cursor :pointer;
  }


  /*Footer*/

  footer{
    width: 90%;
    gap:30px;
  }

}
  @media screen and (max-width: 768px) {
    /*Logo*/
#Booki{
  left:45%


}


/*Navigation*/

nav{
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
}
nav ul 
{
    align-items: center;
    justify-content: center;
    position: relative;
    right: 40px;
    top:88px;
    font-size: 16px;
    min-width: 100%;
}
nav li {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 23px;
  width: 50%;
}
nav li:hover {
  color: #0065FC;
  border-bottom: 3px solid #0065FC;
}
nav a:hover {
  border-top: none;
}

/*Header*/

.contenu_header{
  padding-top:31px;
}

form input{
  
  padding-left: 350px;
}
#search {
  display :none;
}
#loupe{
  display: block;
}

/*Filtres*/

.conteneur ul {
  max-height:150px;
  padding-left: 10%;
  gap:25px;
  flex-direction: column;
  flex-wrap:wrap;
  align-content: flex-start;
}

.l2{
  padding-top:80px; ;
}
