


body{
    max-width: 1400px;
    font-family: 'Raleway', sans-serif;
    background-color: white;

}
/*Logo*/
#Booki{
    position: relative;
    width: 61.09px;
    height: 19px;
    left: 55px;
    top: 44px;


}


/*Navigation*/
nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav  li
{
    margin-right: 35px;
    margin-left: 20px;
}

nav  a 
{
    text-decoration: none;
    color: black;
    padding-top: 45px;
    padding-right:20px;
    padding-left:20px;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}


/*Formulaire Recherche*/
label i{
    position: relative;
    top: -1px;
    background-color: #F2F2F2;
    padding-right: 15px;
    padding-left: 16px;
    padding-top: 17px;
    padding-bottom: 16.5px;
    margin-right: -5px;
    border-radius: 15px 0px 0px 15px;
}

form input {
    color: black;
    font-size: 18px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid #F2F2F2;
}

form button {
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    padding-left: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-style: none;
    border-radius: 0px 15px 15px 0px;
    margin-left: -5px;
}

form button i {
    visibility: collapse;
}