body{
    max-width: 1400px;
    font-family: 'Raleway', sans-serif;
    background-color: white;

}
/*Logo*/
#Booki{
    position: relative;
    width: 61.09px;
    height: 19px;
    left: 55px;
    top: 44px;


}

a {
    text-decoration: none;
    color: black;
}
/*Navigation*/
nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav  li
{
    margin-right: 35px;
    margin-left: 20px;
}

nav  a 
{
    text-decoration: none;
    color: black;
    padding-top: 45px;
    padding-right:20px;
    padding-left:20px;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}


/*Contenu Header*/
.contenu_header{
    position: relative;
   left: 55px;
   top:67px;
   width:90%;
}

.contenu_header h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.l1 
{
  max-width: 100%;
    position : relative;
    top: -10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
/* Filtres */
.liste_filtres{
  display:flex;
  align-items:center;
  gap:1.5rem;
  flex-wrap:wrap;
  padding-top:1rem;
}
.liste_filtres h1{
  font-weight: 700;
  font-size: 18px;
}
.box i {
  color:#0065FC;
  padding: 0.7rem;
}

.box span {
  font-weight: 700;
  font-size: 17px;
  padding-right:1rem;
}
.box{
  border: 2px solid #D9D9D9;
  border-radius:2rem;
}

.box:hover{
  background-color:#deebff;
  cursor:pointer;
}


.l2 i {
    position : relative;
    border : 2px solid #D9D9D9;
    text-align: center;
    border-radius: 60000px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color:#0065FC;
}
/*Formulaire Recherche*/
label i{
    position: relative;
    top: -1px;
    background-color: #F2F2F2;
    padding-right: 15px;
    padding-left: 16px;
    padding-top: 17px;
    padding-bottom: 16.5px;
    margin-right: -5px;
    border-radius: 15px 0px 0px 15px;
}

form input {
    color: black;
    font-size: 18px;
    padding:12px;
    border: 2px solid #F2F2F2;
}

form button {
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-style: none;
    border-radius: 0px 15px 15px 0px;
    margin-left: -5px;
    text-align:justify;
    cursor: pointer;
}
#loupe{
    display: none;
}

/* Hébergement à Marseille*/
.heb_pop {
    display: flex;
    gap:7%;
}
#hebergement {
    flex-basis: 60%;
    height: 100%;
    background-color:#F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
    position:relative;
    top: 100px;
    left: 55px;
}
#hebergement h3 {
    position: relative;
    width:280px;
    top: 41px;
    left: 40px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
#hebergement h4 {
 
    position: relative;
    padding-left:40px;
    bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
.cards {
        padding-left:25px;
        margin-top: 63px;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        gap:3%;
       margin-right: 1rem;
    }
  
.card {
    flex-basis:33%;
    height:199px;
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2);
    border-radius: 20px;
    transition: 0.3s;
    background-color: #FFFF;
    margin-bottom: 30px;
  }

  .card img{
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    border : 5px solid white;
    min-width:249px;
    height:55%;
    width:100%;
    object-fit: cover;
  }
  .card h5{
    font-weight: 700;
    font-size: 16px;
  }
  .card p,.card h5{    
    margin: 5px;
    padding-left: 4px;
    padding-bottom: 4px;;
  }
  .card p{
    font-weight: 400;
    font-size: 14px;
  }
  
  .blue {
    color: #0065FC;
  }

  .grey{
    color:#D9D9D9;
  }
  
  .card:hover {
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    cursor :pointer;
  }
  
/*Les plus populaires*/

.pop {
    flex-basis: 30%;
    max-height: 100%;
    background-color:#F2F2F2 ;
    border-radius: 15px 15px 15px 15px;
    position:relative;
    top: 100px;
    display:flex;
    flex-direction:column;
}

.pop h3 {
    position: relative;
    top: 41px;
   
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


   

}

.pop h3 i {
    color :#0065FC;
}

.cards2 {
    padding-top: 40px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 40px;
    flex-basis:100%;
}

.card2 {
  height:144px;
  box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2);
  border-radius: 20px;
  transition: 0.3s;
  background-color: #FFFF;
  margin-bottom: 30px;
  display:flex;

}

.card2 img{
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;
  border : 5px solid white;
  max-height:144px;
  width:60%;
  object-fit: cover;
}
.contenupop{
  flex-basis:100%;
  display:flex;
  flex-direction:column;
}
.contenupop h5{
  font-weight: 700;
  font-size: 16px;
  margin-bottom:0;
  margin-top:10px;
}

.contenupop p{
  font-weight: 400;
  font-size: 14px;
}

.stars2{
  margin-top:auto;
}


  .card2:hover {
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    cursor :pointer;
  }

  /* Activités à Marseille*/
  #activites {
    position: relative;
  
    top: 60px;


  }

  #activites h3{
    position: relative;
    max-width:50%;
    top:80px;
    left:40px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;


  }
  .cards3 {
    max-width:95%;
    margin-top: 108px;
    flex-wrap: wrap;;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 25px;
    overflow: hidden;
    padding-bottom:20px;
    margin-left:20px;
    margin-right:20px;
}

.card3 {
    flex-basis:25%;
    max-width: 302px;
    height:444px;
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2);
    border-radius: 20px;
    transition: 0.3s;
    background-color: #FFFF;

}
.card3 img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    box-sizing: border-box;

}
  
.card3 h5{
    position: relative;
    width: 247px;
    height: 15px;
    left: 19px;
    bottom: 20.51px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
  
  .card3:hover {
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    cursor :pointer;
  }


  /*Footer*/

  footer {
    width:90%;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    gap:20%;
    background-color: #F2F2F2;
    margin-left: 48px;
    flex-wrap: wrap;;
  }

  footer ul {
    padding-left: 70px;
    list-style-type: none;
  }

  footer h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  footer li {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  footer a {
    text-decoration: none;
    color: black;
  }

  /*Media Queries Tablette*/

  @media screen and (max-width: 992px) and  (min-width: 768px){ 

  /*herbergement et populaire*/
  .heb_pop {
  flex-direction:column ;
  }

  #hebergement {
    width: 90%;
  }

  .pop{
    width: 90%;
    left: 55px;
    top:153px;
  }
    .pop h3{
        top : 5px;
      gap:45%;

    }

  .cards2{
    padding-top: 10px;
    padding-bottom: 53px;
    flex-direction: row;
    align-items: center;
flex-basis:33%;
  }

  .card2{
  max-width: 250px;
  flex-basis:30%;
  flex-grow:1;
  } 

  

  /*Activités à Marseille*/

   #activites {

    max-width: 100%;
    height: 493px;



  }

  #activites h3{
    position: relative;
    top:80px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;


  }
  .cards3{
   justify-content: center;
  }
  .card3 img{
    height:80%;
  }
.card3 {
    width: 182px;
    height:267px; 
    
}
  
.card3 h5{
    max-width:136px;
}
  
  .card3:hover {
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    cursor :pointer;
  }

  /* footer */
  footer{
    margin-top: 300px; 
     gap:5%;
  }

  }

  @media screen and (max-width: 767px) {
    /*Logo*/

#Booki{
  left:45%


}


/*Navigation*/

nav{
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
}
nav ul 
{
    align-items: center;
    justify-content: center;
    position: relative;
    right: 40px;
    top:88px;
    font-size: 16px;
    min-width: 100%;
}
nav li {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 23px;
  width: 50%;
}
nav li:hover {
  color: #0065FC;
  border-bottom: 3px solid #0065FC;
}
nav a:hover {
  border-top: none;
}

/*Header*/

.contenu_header{
  padding-top:31px;
   left: 0px;

}
  

form input{
  
  width:70%;
}
#search {
  display :none;
}
#loupe{
  display: block;
}

/*Filtres*/


.l2{
  padding-top:80px; ;
}
/*Hébergement à Marseille et Les plus populaires */
.heb_pop{
  flex-direction: column-reverse;
}


.cards{
  flex-direction: column;

}

.card{
  max-width: 97%;
}
.pop{
  width:100%;
  border-radius: 0px 0px 0px 0px;

}
.pop h3{

gap:30%;
}


.card2{
  max-width: 100%;
}
.cards2{ 
  flex-direction: column;

}
#hebergement{
  width:100%;
  top:100px;
  left:0px;
  background-color:white;
}
#hebergement h4{
 display:none; 
}




/*Activités à MArseille*/

#activ
#activites h3{
  margin-left:40px;
}
.card3{
  flex-basis:100%;
  max-width: 98%;
}

.cards3{
  flex-direction : column;
  left:0px;
  width:100%;
}
  

  /*footer*/
  footer{
  width:100%;
  flex-direction:column;
  margin-left:-10px;
  right:0px;
  }
}